@import  "https://fonts.googleapis.com/css?family=Open+Sans";

body,input {
    font-family: 'Open Sans',sans-serif;
}

body {
    background-color: #EDEAE3;
}

h1 {
    font-size: 20px;
}

.intro {
    font-size: 10pt;
    float: right;
    transform: rotate(1deg);
    background-color: #F28F52;
    width: 300px;
    height: 300px;
}

input {
    background-color: #EFB051;
    border: 1px solid #333;
}

.notes {
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    padding: 5px;
}

#myPrimes {
    height: 300px;
    width: 500px;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #eae672;
    transform: rotate(2deg);
    margin: 30px 0 0 20px;
}

#myPrimesList {
    font-size: 9pt;
}

#header {
    background-color: #C4EFE4;
    transform: rotate(-1deg);
    width: 200px;
    height: 150px;
    float: left;
}

a {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
}